<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRACTIWEB</title>

</head>
<h3>PRACTIWEB</h3>
<body>
  <h4>INICIO DE SESION </h4>
  <div class="contenido">

    <form action="" class="form">
      <img src="https://images.vexels.com/media/users/3/137046/isolated/preview/9a6d2a5bac6e209fa15d02eb1409c92a-icono-de-persona-de-usuario.png" alt="">
      <br><br>
      <input placeholder="Usuario">
      <br><br>
      <input placeholder="Contraseña">
      <br><br>
      <a class="btn btn-success" href="/menu">Ingresar</a>
      <br><br>
    </form>
    <br><br><br>
  </div>
</body>
</html>
