head{
  background: orange;
  width: 100%;
  height: 100%;
}
body{
  background: gray;

}
h2{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:black;
  border-bottom:3px solid #78788c;
  margin-bottom: 10%;

}
h3{
  background:linear-gradient(orange,white);
  padding: 2%;
  font-family: Arial;
  font-weight: 900;
}
h4{
  background: linear-gradient(white,gray);
  padding: 0%;
  text-align: center;
  font-weight: 900;
}


a{
  width: 50%;
  background-color: white;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 22%;
}


.form{
  width:340px;
  height:400px;
  background:rgb(242, 152, 34);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;

}

input{
  height:30px;
  width:150px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:10px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
  text-align: center;
  margin-left: 20%;
}

img{
  width: 100px;
  height: 100px;
  margin-left: 28%;
}
