<app-navbar></app-navbar>

<h2>USUARIOS INVOLUCRADOS EN EL SISTEMA</h2>
<body>

  <table>
    <select name="Tipo de Usuario" id="Usuario">
      <option value="a">Admin</option>
      <option value="c">Coordinador</option>
      <option value="e">Estudiante</option>
    </select>
    <tr>
      <th>Codigo</th>
      <th>Nombre(s)</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Programa</th>
    </tr>
    <tr>
      <td>11111</td>
      <td>fulano</td>
      <td>perez</td>
      <td>fulano@gmail.com</td>
      <td>Artes del nada</td>
    </tr>
  </table>
</body>
