<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRACTIWEB</title>
</head>
<h3>PRACTIWEB</h3>
<body>
  <h5>MENU DE ADMINISTRADOR</h5>
  <div class="contenido">
    <form action="" class="form">
      <a class="btn btn-success" href="/gesturs">Gestion de Usuarios</a>
      <br><br>
      <a href="" class="btn btn-success">Facultad</a>
      <br><br>
      <a href="" class="btn btn-success">Programa</a>
      <br><br>
      <a href="" class="btn btn-success">Plan Academico</a>
      <br><br>
      <a href="" class="btn btn-success">Prerrequisitos</a>
      <br><br>
    </form>
    <br><br><br>
  </div>
</body>
</html>
